@import '../common.styl'

.popup
    position: fixed
    left: 0
    top: 0
    background-color: #ffffff
    border-radius: 4px
    box-shadow: 0 1px 4px rgba(0,0,0,0.2)
    color: #404040
    z-index: $popup-z-index
    transform-origin: 0 0;
    will-change: transform;
