@import '../common.styl'

.activityInfo
    padding: 15px 20px

.activityName
    font-size: 18px

.activityType
    color: #808080
    font-size: 14px

.activityParams
    padding: 10px 0 0
    font-size: 14px

.buttons
    padding: 15px 0 0
    display: flex
    justify-content: flex-start
