@import '../common.styl'


.activityName
    font-size: 18px

.activityType
    color: #808080
    font-size: 14px

.params
    padding: 5px 0
    text-align: center
    display: flex
    flex-wrap: wrap
    .option
        padding: 5px 0
        width: 50%
    .optionValue
        line-height: 50px
        font-size: 40px
        font-weight: 200
        +maxWidth(390px)
            font-size: 30px
            line-height: 40px
    .optionValueUnit
        line-height: 17px
        font-size: 14px
        font-weight: 400
        +maxWidth(390px)
            font-size: 12px
    .optionTitle
        margin-top: -5px
        line-height: 15px
        font-size: 12px
        color: #a0a0a0
        +maxWidth(390px)
            margin-top: -2px
            font-size: 11px

.buttons
    padding: 15px 0 5px
    display: flex
    justify-content: flex-end
