@import '../common.styl'

.stravaAuth
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    padding: 10px

.block
    padding: 30px
    width: 100%
    max-width: 300px
    background-color: white-color
    border-radius: 3px
    shadow: default
    