@import '../common.styl'

.stravaAuth
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    padding: 10px
    background-color: main-color

.block
    padding: 30px
    width: 100%
    max-width: 400px
    background-color: white-color
    border-radius: 4px
    shadow: default
    +maxWidth(500px)
        padding: 20px

.btnWrapper
    margin-top: 20px
    display: flex
    justify-content: center

.textBlock
    margin-bottom: 15px
