@import '../common.styl';

.popup
    width: 370px
    +maxWidth(390px)
        width: calc(100vw - 20px)

.header
    position: relative
    padding: 15px 15px 5px 20px
    font-size: 14px
    display: flex
    justify-content: space-between
    line-height: 24px
    z-index: 1
    color: #202020

.activityInfo
    padding: 5px 20px 20px

.closeBtn
    cursor: pointer
    background: $gradient;

    .crossIcon
        display: block

    path
        fill: #404040

    &:hover
        path
            fill: #000000
