@import '../common.styl'

space = 10px
halfSpace = space / 2

.dayWrapper
    position: relative
    box-sizing: border-box
    width: 14.28%
    padding: halfSpace
    display: block

.spacer
    width: 100%
    margin-bottom: 100%

.day
    position: absolute
    left: halfSpace
    right: halfSpace
    top: halfSpace
    bottom: halfSpace
    background-color: #fafafa
    padding: 12px
    border-radius: 4px
    font-size: 16px
    color: #404040
    text-decoration: none

    +maxWidth(1000px)
        padding: 10px
        font-size: 14px
    
    +maxWidth(800px)
        padding: 8px
        font-size: 12px

    +maxWidth(600px)
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        font-size: 18px
        .activities
            display: none

    &:hover
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
        background-color: #ffffff
        .activities:after
            background: linear-gradient(0deg, #ffffff, rgba(255, 255, 255, 0))

    // &.isWeekEnd
    //     .dayTitle
    //         color: #e04040

    &.disabled
        background-color: #eaeaea
        box-shadow: none
        color: #d0d0d0
        .dayTitle
            color: #d0d0d0

        .activities:after
            display: none

.dayTitle
    padding-bottom: 3px
    font-size: 12px
    line-height: 15px

    +maxWidth(1000px)
        font-size: 11px

    +maxWidth(800px)
        font-size: 10px

    +maxWidth(600px)
        font-size: 18px
        padding-bottom: 0

        .monthGenitive
            display: none

    +maxWidth(500px)
        font-size: 16px

    +maxWidth(400px)
        font-size: 14px

    +maxWidth(350px)
        font-size: 12px

.emptyPlaceholder
    height: calc(100% - 15px)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.activities
    height: calc(100% - 15px)
    overflow: hidden
    position: relative
    &:after
        content: ''
        display: block
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: 10px
        background: linear-gradient(0deg, #fafafa, rgba(255, 255, 255, 0))

.activity
    font-size: 14px
    padding-bottom: 10px

    .activityName
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    +maxWidth(1000px)
        font-size: 12px

    +maxWidth(800px)
        font-size: 10px
