@import '../common.styl'

.button
    display: block
    border-radius: 3px
    background-color: action-color
    color: white-color
    text-align: center
    padding: 7px 15px
    cursor: pointer
    shadow: default
    text-decoration: none
    &:hover
        background-color: action-color-hover
    &:active
        background-color: action-color
        shadow: active
