@import '../common.styl'

.button
    display: block
    border-radius: 4px
    background-color: action-color
    color: white-color
    text-align: center
    cursor: pointer
    shadow: default
    text-decoration: none
    &:hover
        background-color: action-color-hover
    &:active
        background-color: action-color
        shadow: active

    &.size_m
        padding: 10px 15px
        font-size: 16px

    &.size_s
        padding: 8px 15px
        font-size: 14px
