@import '../common.styl'

space = 10px
halfSpace = space / 2

.wrapper
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    overflow: auto

.calendar
    padding: 10px
    
    +maxWidth(400px)
        padding: 10px 0

.month
    padding-top: 10px
    &:first-child
        padding-top: 0

.monthTitle
    margin: 0 auto
    // box-sizing: border-box
    max-width: max-width
    padding: space
    font-size: 22px

    +maxWidth(1000px)
        font-size: 20px
    
    +maxWidth(800px)
        font-size: 18px
    
    +maxWidth(600px)
        font-size: 16px
    
    +maxWidth(400px)
        font-size: 14px

.monthDays
    display: flex
    flex-wrap: wrap
    margin: 0 auto
    box-sizing: border-box
    max-width: max-width + (space * 2)
    padding: (space / 2)


