@import '../common.styl'

.trackChart
    background-color:  main-color

.svg
    width: 100%
    polyline
        stroke: white
        stroke-width: 2
        stroke-linecap: round
        stroke-linejoin: round
        fill: none
