@import '../common.styl'

.grid
    position: relative

.line
    display: flex
    justify-content: flex-start
    position: absolute
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);

.value
    padding-left: 10px
    font-size: 14px
    line-height: 20px
    background-color: alpha(#f0f0f0, 0.8)
    &:last-child
        padding-right: 10px
