@import '../common.styl'

.grid
    position: relative

.line
    display: flex
    justify-content: space-between
    position: absolute
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0 10px;

// .value
    // padding-left: 10px
